{% include header.html color="e6f10b" %}
<body bgcolor=" eaecee ">

<table border="1px" cellspacing="0" align="center" width="100%" height="100">

      <tr bgcolor="566573"><td align="center"><img src="Tyrfing/imagenes/espada_cabecera.png" width="150" height="50"></td>

      <td align="center">
			<a href="/:title.html" style=color:black>Historia</a></td>
      <td align="center"><a href="/personajes/" style=color:black>Personajes</a></td>
      <td align="center"><a href="/about/" style=color:black>About</a></td>
      <td align="center">Descargar
			</td></tr>
</table> <br>
<font face="Arial,Verdana" size="4">
<h2>EL JUEGO:</h2>
<p>
Tyrfing es un rpg (roll player game) el cual consiste en conseguir superar una serie de niveles o pantallas hasta llegar al jefe final mientras ceuntas con la compañia de diferentes personajes los cuales pueden variar según tu modo de juego.
En un primer momento tienes la opción de elegir entre un personaje masculino o femenino (ambos con las mismas cualidades y capacidades) tras esta decisión comienza tu aventura.<br> Utiliza la estrategia para poder avanzar por los niveles e intenta no caer en combate solo de esta manera podrás superar las distintas pruebas y alcanzar tu objetivo.<br>¡Mucha suerte en tu aventura!
</p>
</font>
</body>
