{% include header.html color="e6f10b" %}
<table cellspacing="0" >
<tr>
  <td><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chico.png"></td><td><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chica.png"></td>
</tr>
<tr>
  <td><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Arquero.png"></td><td><img src="htps://guzmanb11.github.io/Tyrfing/imagenes/Rey.png"></td>
</tr>
<tr>
  <td><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Tanque.png"></td><td><img src="htps://guzmanb11.github.io/Tyrfing/imagenes/Maga.png" alt=""></td>
</tr>
<tr>
  <td><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Espadachina.png"></td>
</tr>
</table>
