<html>
<title> {{site.title}} | {{page.title}} </title>
<body>
{% include header.html color="e6f10b" %}
{% if page.title == "Personajes" %}
<table cellspacing="0">
<tr>
  <td bgcolor="red"><a href="https://guzmanb11.github.io/Tyrfing/personajes/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chico.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje7/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chica.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje2/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Arquero.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje6/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Rey.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje3/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Tanque.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje5/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Maga.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje4/><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Espadachina.png"></a></td><td></td>
</tr>
</table>

{% elsif page.title == "Personaje2" %}
<table cellspacing="0">
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personajes/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chico.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje7/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chica.png"></a></td>
</tr>
<tr>
  <td bgcolor="red"><a href="https://guzmanb11.github.io/Tyrfing/personaje2/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Arquero.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje6/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Rey.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje3/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Tanque.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje5/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Maga.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje4/><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Espadachina.png"></a></td>
</tr>
</table>

{% elsif page.title == "Personaje3" %}
<table cellspacing="0">
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personajes/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chico.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje7/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chica.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje2/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Arquero.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje6/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Rey.png"></a></td>
</tr>
<tr>
  <td bgcolor="red"><a href="https://guzmanb11.github.io/Tyrfing/personaje3/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Tanque.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje5/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Maga.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje4/><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Espadachina.png"></a></td>
</tr>
</table>

{% elsif page.title == "Personaje4" %}
<table cellspacing="0">
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personajes/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chico.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje7/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chica.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje2/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Arquero.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje6/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Rey.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje3/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Tanque.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje5/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Maga.png"></a></td>
</tr>
<tr>
  <td bgcolor="red"><a href="https://guzmanb11.github.io/Tyrfing/personaje4/><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Espadachina.png"></a></td>
</tr>
</table>

{% elsif page.title == "Personaje5" %}
<table cellspacing="0">
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personajes/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chico.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje7/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chica.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje2/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Arquero.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje6/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Rey.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje3/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Tanque.png"></a></td><td bgcolor="red"><a href="https://guzmanb11.github.io/Tyrfing/personaje5/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Maga.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje4/><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Espadachina.png"></a></td>
</tr>
</table>

{% elsif page.title == "Personaje6" %}
<table cellspacing="0">
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personajes/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chico.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje7/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chica.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje2/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Arquero.png"></a></td><td bgcolor="red"><a href="https://guzmanb11.github.io/Tyrfing/personaje6/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Rey.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje3/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Tanque.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje5/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Maga.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje4/><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Espadachina.png"></a></td>
</tr>
</table>

{% elsif page.title == "Personaje7" %}
<table cellspacing="0">
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personajes/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chico.png"></a></td><td bgcolor="red"><a href="https://guzmanb11.github.io/Tyrfing/personaje7/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Chica.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje2/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Arquero.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje6/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Rey.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje3/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Tanque.png"></a></td><td><a href="https://guzmanb11.github.io/Tyrfing/personaje5/"><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Maga.png"></a></td>
</tr>
<tr>
  <td><a href="https://guzmanb11.github.io/Tyrfing/personaje4/><img src="https://guzmanb11.github.io/Tyrfing/imagenes/Espadachina.png"></a></td>
</tr>
</table>

{% endif %}
{{ content }}
</body>
</html>
